:root{
  --mainGreen:#006600;
  --lightGreen:#009900;
  --mainWhite:#fffafa;
  --mainDark:#282828;
  --lightDark:rgb(212, 212, 212, 0.5);
  --mainYellow:#bee63c;
  --mainOrange: #FF7F50;
  --mainRed: #FF0000;
  --darkOrange: #f37a00;
}

body{
  font-family: 'Gelasio', serif !important;
  background: var(--mainWhite) !important;
  color: var(---mainDark) !important;
}

.text-title{
  font-family: 'Merriweather', serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-black{
  color: var(--mainBlack);
}

.text-bright{
  color: var(--lightGreen);
}

.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;  
}

.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.remove-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainRed);
}
